.authIndicator {
  position: relative;

  @media (max-width: 900px) {
    margin-left: 0;
  }

  .userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .profileCard {
    position: absolute;
    top: 0;
    right: -34px;
    margin-top: 56px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #f3f3f4;
    border-radius: 10px;
    padding: 28px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;

    transition:
      opacity 0.5s ease,
      visibility 0.5s ease;

    z-index: 1;

    &.visible {
      opacity: 1;
      visibility: visible;
    }
    @media (max-width: 900px) {
      right: -54px;
    }
  }

  @media (min-width: 901px) {
    &:hover .profileCard {
      opacity: 1;
      visibility: visible;
    }
  }

  .profileCard:hover {
    opacity: 1;
    visibility: visible;
  }
}

.profileCardAvatar {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.profileName {
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
}

.profileEmail {
  text-align: center;
  font-size: 10px;
  color: #6e6d7a;
  padding-bottom: 16px;
}

.profileButton {
  cursor: pointer;
  font-size: 14px;
  padding: 10px 0;
  font-weight: 300;
  &:hover {
    color: #6e6d7a;
  }
}

.divider {
  border-top: 1px solid #e7e7e9;
  margin: 10px 0;
  width: 100%;
  height: 0;
}
