.popup {
  max-width: 100% !important;
  width: 420px;
  z-index: 10;
  @media (width <= 460px) {
    transform: none !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: initial;
    margin: 0px auto;
    .mapboxgl-popup-tip {
      display: none;
    }
  }
}
