.backDrop {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.062);
  z-index: 10;
}

.addressCopmactView {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  padding-left: 20px;
  line-height: 60px;
  height: 60px;
  min-width: 200px;
  background-color: #fafafa;
  font-weight: 200;
  font-size: 16px;
  font-style: italic;

  z-index: 21;
  @media (width >= 501px) {
    display: none;
  }
}

.detailsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 640px;
  height: calc(100dvh - 76px);
  background-color: white;
  border-radius: 10px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 20px;
  animation: ease-out 0.3s fadeIn;
  z-index: 11;

  .name {
    margin-top: 18px;
    color: #fff;
  }
  .address {
    position: absolute;
    display: block;
    top: 8px;
    left: 16px;
    line-height: 28px;
    color: #fafafa;
    font-weight: 200;
    font-size: 12px;
    font-style: italic;
    text-shadow: 1px 0px #303030;
    @media (max-width: 500px) {
      display: none;
    }
  }

  @media (width <= 767px) {
    width: 100%;
  }
  @media (height < 600px) {
    overflow-y: auto;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.detailsContent {
  position: relative;
}

.iconsRow {
  position: absolute;
  top: 8px;
  right: 52px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
  z-index: 13;
  .iconFavWrapper {
    cursor: pointer;
    background-color: #f6f6f6;
    height: 28px;
    width: 28px;
    padding: 8px;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0.5px 1.5px;
    transition: background-color 0.2s;

    &:hover,
    &:active {
      background-color: #fff;
    }
  }

  .viewInstagramButton {
    color: #fafafa;
    font-weight: 200;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0 10px;
    height: 28px;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease;
    width: fit-content;

    &:hover,
    &:active {
      color: #fafafa;
      border-color: #fafafa;
      transform: scale(0.99);
    }

    &:focus {
      outline: none;
    }
    &.darkColor {
      color: #303030;
      border-color: #303030;
    }
  }
  @media (width <= 500px) {
    right: initial;
    left: 16px;
  }
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 28px;
  height: 28px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: color 0.3s ease;

  &:hover,
  &:active {
    transform: scale(0.98);
    border-color: #ff4b34;
    &::before,
    &::after {
      background-color: #ff4b34;
    }
  }

  &:focus {
    outline: none;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #fff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
