.backDrop {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.062);
  z-index: 10;
  @media (width <= 767px) {
    padding: 2px;
    .detailsContainer {
      height: calc(100dvh - 64px);
    }
  }
}

.detailsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 640px;
  height: calc(100dvh - 76px);
  background-color: white;
  border-radius: 10px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 20px;
  animation: ease-out 0.3s fadeIn;
  z-index: 11;
  .name {
    margin-top: 16px;
    color: #fff;
  }
  .address {
    position: absolute;
    top: 8px;
    left: 16px;
    line-height: 28px;
    color: #fafafa;
    font-weight: 200;
    font-size: 12px;
    font-style: italic;
    text-shadow: 1px 0px #303030;
  }
  @media (width <= 869px) {
    width: 520px;
  }
  @media (width <= 767px) {
    width: 100%;
  }
  @media (height < 600px) {
    overflow-y: auto;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.detailsContent {
  position: relative;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 28px;
  height: 28px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: color 0.3s ease;

  &:hover,
  &:active {
    transform: scale(0.98);
    border-color: #ff4b34;
    &::before,
    &::after {
      background-color: #ff4b34;
    }
  }

  &:focus {
    outline: none;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #fff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.viewInstagramButton {
  position: absolute;
  top: 8px;
  right: 48px;
  color: #fafafa;
  font-weight: 200;
  border: 1px solid white;
  border-radius: 30px;
  padding: 0 10px;
  height: 28px;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease;
  width: fit-content;
  z-index: 13;
  &:hover,
  &:active {
    color: #fafafa;
    border-color: #fafafa;
    transform: scale(0.99);
  }

  &:focus {
    outline: none;
  }
  &.darkColor {
    color: #303030;
    border-color: #303030;
  }
}
