.reviewForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition:
    height 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  margin-top: 20px;
}

.reviewInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  min-height: 100px;
  margin-bottom: 2px;
  font-family: inherit;
  background: rgba(255, 255, 255, 0.69);
}
.buttons {
  align-self: flex-end;
  margin-right: 16px;
}
