.AboutPage {
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: calc(100dvh - 150px);
}

.text {
  padding-top: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.link {
  font-weight: 700;
  &:hover {
    text-decoration: underline;
  }
}
