.Footer {
  font-size: 12px;
  text-align: center;
  height: 90px;
  padding: 10px 30px;
  background-color: #141414;
  color: #626262;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (width < 576px) {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}

.footerLogo {
  filter: grayscale(100%);
  opacity: 0.5;
}
