.Footer {
  font-size: 12px;
  text-align: center;
  height: 90px;
  padding: 30px 30px 20px 30px;
  background-color: #222222;
  color: #626262;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerLogo {
  filter: grayscale(100%);
  opacity: 0.5;
}
