.LoginRequired {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 14px;
  flex-wrap: wrap;
  padding: 6px 0;
}

.noAccount {
  padding-top: 10px;
  font-size: 12px;
  span {
    cursor: pointer;
    font-weight: 500;
    &:hover {
      border-bottom: 1px #303030 solid;
    }
  }
}
