.FormButton {
  position: relative;
  color: black;
  font-size: 18px;
  font-weight: 100;
  padding: 10px 26px;
  margin: 20px 4px;

  cursor: pointer;
  border: 1px solid #000;
  border-radius: 4px;
  background: transparent;
  &:hover,
  &:active {
    transform: scale(0.98);
  }
  &:disabled {
    color: #b4b4b4;
    border-color: #b4b4b4;
    cursor: not-allowed;
    transform: none;
    &:hover,
    &:active {
      &::after {
        content: 'all fields are required';
        position: absolute;
        top: 100%; /* Расположите текст под кнопкой */
        left: 50%;
        padding-top: 2px;
        transform: translateX(-50%);
        white-space: nowrap;
        font-size: 12px;
        color: #ff0505;
      }
    }
  }
  @media (width <= 767px) {
    border-color: #fff;
    color: #fff;
  }
}
