.detailsHeader {
  flex-shrink: 0;
  opacity: 1;
  height: 160px;
  transition: all ease-in-out 0.2s;
}

.hideDetailsHeader {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.descriptionAndRating {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
}

.ratingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  height: 140px;
  padding: 10px;
  background-color: rgba(255, 241, 237, 0.7);
  border-radius: 10px;
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 2px 4px rgba(0, 0, 0, 0.1);
  .ratingNumber {
    font-size: 44px;
    text-align: center;
    span {
      font-size: 22px;
    }
  }
  h4 {
    text-align: center;
  }
}

.description {
  background-color: rgba(51, 51, 51, 0.5);
  padding: 8px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  color: #fff;
  height: 140px;
  overflow-y: auto;
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 2px 4px rgba(0, 0, 0, 0.1);
}

.noRatingText {
  font-size: 12px;
  text-align: center;
  font-weight: 400;
}

.notActiveRating {
  color: #8a8a8a;
}
