.rateNowContainer {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.696);
  border-radius: 10px;
  padding: 12px;
  margin-top: 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.addReviewCard {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.rateWidget {
  background-color: rgba(255, 255, 255, 0.696);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 8px;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  h3 {
    font-weight: 300;
  }
}

.question {
  span {
    cursor: pointer;
    font-weight: 600;
    &:hover {
      border-bottom: 2px black solid;
    }
  }
}

.noReviews {
  flex-shrink: 0;
  font-size: 14px;
  color: #606060;
  font-weight: 300;
  flex-grow: 1;
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span {
    cursor: pointer;
    font-weight: 600;
    &:hover {
      border-bottom: 1px black solid;
    }
  }
}
