.ContactForm {
  margin: 0 auto;
  width: 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .recaptcha {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media (width <= 440px) {
    width: 90%;
  }
  @media (width <= 767px) {
    border-color: #fff;
    color: #fff;
    label {
      color: #fff;
    }

    input,
    textarea {
      border-color: #fff;
      color: #efefef;
    }
  }
}
