.bckgPattern {
  min-height: calc(100dvh - 70px);
  min-width: 640px;

  --s: 16px; /* control the size*/
  --c1: #935100;
  --c2: #c0c0c0;

  --c: var(--c1) calc(100% - 2px), #0000;
  --r: calc(2.414 * var(--s));
  --p: calc(1.414 * var(--s));
  --g: radial-gradient(var(--s), var(--c));
  background:
    radial-gradient(var(--r) at 0 0, var(--c)),
    radial-gradient(var(--r) at 0 100%, var(--c)),
    radial-gradient(var(--r) at 100% 0, var(--c)),
    radial-gradient(var(--r) at 100% 100%, var(--c)),
    var(--g),
    var(--g),
    var(--g),
    var(--g) var(--c2);
  background-position:
    var(--r) var(--r),
    0 var(--p),
    var(--p) 0,
    calc(-1 * var(--s)) calc(-1 * var(--s));
  background-size: calc(2 * var(--r)) calc(2 * var(--r));
}
