.embedWrapper {
  position: absolute;
  clip-path: inset(160px 0 64px 0);
  margin-top: -180px;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 18%, rgba(0, 0, 0, 0) 70%),
      linear-gradient(to top, white 15%, rgba(255, 255, 255, 0) 70%);
    z-index: 10;
  }
  &.normalView {
    clip-path: none;
    margin-top: -20px;
    pointer-events: all;
    z-index: 10;
    &::before {
      display: none;
    }
  }
  @media (width <= 496px) {
    clip-path: inset(145px 0 64px 0);
    margin-top: -165px;
  }
}

.embed {
  position: relative;
  left: -1px;
  width: calc(100% + 4px); /* iframe has borders 1px,  and width (100%-2px) */
}
