.embedWrapper {
  &.backDrop {
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 11;
  }
}

.embed {
  position: absolute;
  clip-path: inset(160px 0 75px 0);
  margin-top: -180px;
  left: 0px;
  width: calc(100% + 4px);
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 160px;
    background: linear-gradient(to bottom, rgba(70, 22, 3, 0.7) 5%, rgba(0, 0, 0, 0) 50%),
      linear-gradient(to top, white 45%, rgba(255, 255, 255, 0) 80%);
    z-index: 10;
  }
  &.normalView {
    clip-path: none;
    margin-top: 0;
    pointer-events: all;
    z-index: 12;
    &::before {
      display: none;
    }
  }
  @media (width <= 496px) {
    clip-path: inset(145px 0 58px 0);
    margin-top: -165px;
    &::before {
      margin-top: 145px;
    }
  }
}
