.FavoritesIndicator {
  position: absolute;
  bottom: 180px;
  right: 10px;
  cursor: pointer;
  background-image: url('../../../shared/assets/favorite-filled.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  width: 30px;
  height: 30px;
  overflow: visible;
  transition: background-size 0.3s;
  z-index: 3;
  &:hover {
    background-size: 0%;
    .favoritesNumber {
      display: none;
    }
    .indicatorText {
      clip-path: inset(0 0 0 0);
    }
  }
  @media (width <= 640px) {
    bottom: 200px;
  }
}

.favoritesNumber {
  position: relative;
  top: -2px;
}

.indicatorText {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff4b34;
  height: 28px;
  width: 150px;
  clip-path: inset(14px 14px 14px 155px);
  border-radius: 10px;
  overflow: hidden;
  user-select: none;
  transition: 0.3s;
  z-index: 4;
  &:hover {
    background-color: #303030;
  }
}

.facoriteInfoFloat {
  position: absolute;
  top: 68px;
  right: 10px;
  cursor: pointer;
  font-size: 12px;

  color: #fff;

  background-color: rgba(51, 51, 51, 0.5);
  padding: 6px 10px;
  border-radius: 10px;
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 2px 4px rgba(0, 0, 0, 0.1);
  p {
    margin-bottom: 4px;
  }
  span {
    font-weight: 400;
    text-decoration: underline;
    &:hover {
      color: #ff4b34;
    }
  }
  &:hover {
    background-color: rgba(51, 51, 51, 0.7);
  }
  @media (width <= 767px) {
    display: none;
  }
}
