.RegularButton {
  border: 1px solid #111111;
  background: transparent;
  color: #111111;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  animation: appearTransition 1.5s forwards; /* Анимация на 0.5 секунды */
  transition: background-color color 0.2s;
  &.success {
    border: 1px solid #6bc839;
    color: #6bc839;
    &:hover {
      background-color: #6bc839;
    }
  }
  &.error {
    border: 1px solid #fd5353;
    color: #fd5353;
    &:hover {
      background-color: #fd5353;
    }
  }
  &:hover {
    color: #fff;
    background-color: #111111;
  }
}

@keyframes appearTransition {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
