.RegularButton {
  border: 1px solid #111111;
  background: transparent;
  color: #111111;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 4px;
  cursor: pointer;
  transition: background-color color 0.2s;
  transition:
    background-color 0.2s,
    color 0.2s;
  &.success {
    border: 1px solid #61c289;
    color: #61c289;
    &:hover {
      background-color: #61c289;
    }
  }
  &.error {
    border: 1px solid #fd5353;
    color: #fd5353;
    &:hover {
      background-color: #fd5353;
    }
  }
  &:hover {
    color: #fff;
    background-color: #111111;
  }

  &:disabled {
    color: #b4b4b4;
    background-color: #fff;
    border-color: #b4b4b4;
    cursor: not-allowed;
    transform: none;
  }
  &.blank {
    border: none;
    &:hover,
    &:active {
      background-color: transparent;
      color: #111111;
      transform: scale(0.98);
    }
  }
}

@keyframes appearTransition {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
