.RegularButton {
  border: 1px solid #111111;
  background: transparent;
  color: #111111;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color color 0.2s;
  transition:
    background-color 0.2s,
    color 0.2s;

  &:hover {
    color: #fff;
    background-color: #111111;
  }

  &:disabled {
    color: #b4b4b4;
    background-color: #fff;
    border-color: #b4b4b4;
    cursor: not-allowed;
    transform: none;
  }
}

@keyframes appearTransition {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
