.AddToFavButton {
  position: relative;
  background-image: url('../icons/favorite-empty.svg');
  background-repeat: no-repeat;
  background-position: center;
  /*
  background-size: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  */
  color: #787878;
  height: 20px;
  width: 20px;
  &.filled {
    background-image: url('../icons/favorite-filled.svg');
  }

  &:focus {
    outline: 0;
  }

  &:before,
  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 200%;
    height: 200%;
    left: -50%;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

  &:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff4b34 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #ff4b34 20%, transparent 30%),
      radial-gradient(circle, #ff4b34 20%, transparent 20%), radial-gradient(circle, #ff4b34 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #ff4b34 15%, transparent 20%),
      radial-gradient(circle, #ff4b34 20%, transparent 20%), radial-gradient(circle, #ff4b34 20%, transparent 20%),
      radial-gradient(circle, #ff4b34 20%, transparent 20%), radial-gradient(circle, #ff4b34 20%, transparent 20%);
    background-size:
      10% 10%,
      20% 20%,
      15% 15%,
      20% 20%,
      18% 18%,
      10% 10%,
      15% 15%,
      10% 10%,
      18% 18%;
  }

  &:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff4b34 20%, transparent 20%),
      radial-gradient(circle, #ff4b34 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #ff4b34 15%, transparent 20%),
      radial-gradient(circle, #ff4b34 20%, transparent 20%), radial-gradient(circle, #ff4b34 20%, transparent 20%),
      radial-gradient(circle, #ff4b34 20%, transparent 20%), radial-gradient(circle, #ff4b34 20%, transparent 20%);
    background-size:
      15% 15%,
      20% 20%,
      18% 18%,
      20% 20%,
      15% 15%,
      10% 10%,
      20% 20%;
  }

  &:active {
    background-size: 22px;
  }

  &.animate {
    &:before {
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after {
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}

@keyframes topBubbles {
  0% {
    background-position:
      5% 90%,
      10% 90%,
      10% 90%,
      15% 90%,
      25% 90%,
      25% 90%,
      40% 90%,
      55% 90%,
      70% 90%;
  }
  50% {
    background-position:
      0% 80%,
      0% 20%,
      10% 40%,
      20% 0%,
      30% 30%,
      22% 50%,
      50% 50%,
      65% 20%,
      90% 30%;
  }
  100% {
    background-position:
      0% 70%,
      0% 10%,
      10% 30%,
      20% -10%,
      30% 20%,
      22% 40%,
      50% 40%,
      65% 10%,
      90% 20%;
    background-size:
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position:
      10% -10%,
      30% 10%,
      55% -10%,
      70% -10%,
      85% -10%,
      70% -10%,
      70% 0%;
  }
  50% {
    background-position:
      0% 80%,
      20% 80%,
      45% 60%,
      60% 100%,
      75% 70%,
      95% 60%,
      105% 0%;
  }
  100% {
    background-position:
      0% 90%,
      20% 90%,
      45% 70%,
      60% 110%,
      75% 80%,
      95% 70%,
      110% 10%;
    background-size:
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
