.SendContactForm {
  position: relative;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #000;
}

.error {
  color: #fd5353;
  margin: 10px 0;
}
