.ContactsPage {
  display: flex;
  min-height: calc(100dvh - 150px);
  @media (width <= 767px) {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url('../../../shared/assets/contacts.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100%;
  }
}

.textContainer {
  width: 50%;
  background: url('../../../shared/assets/contacts.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .decription {
    font-size: 18px;
  }
  @media (width <= 1023px) {
    width: 40%;
  }
  @media (width <= 767px) {
    display: none;
  }
}

.formContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (width <= 1023px) {
    width: 60%;
  }
  @media (width <= 767px) {
    width: 100%;
  }
}
