.Places {
  position: absolute;
  display: flex;
  gap: 8px;
  flex-direction: column;
  height: calc(100dvh - 50px);
  overflow-y: scroll;
  overflow-x: hidden;
  top: 50px;
  padding: 8px 5px 5px;

  z-index: 1;
  @media (width <= 768px) {
    display: none;
  }
}
