.placesData {
  position: absolute;
  top: 60px;
  display: flex;
  left: 0;
}

.detailsOpen {
  margin-left: -100%;
}

.PlacesList {
  display: flex;
  gap: 8px;
  flex-direction: column;
  height: calc(100dvh - 60px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 8px 5px 5px;
  transition: margin-left 0.3s ease-in-out;
  z-index: 1;
  @media (width <= 767px) {
    display: none;
  }
}
