.Places {
  position: absolute;
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: calc(100dvh - 50px);
  overflow-y: scroll;
  overflow-x: hidden;
  top: 50px;
  left: 8px;

  z-index: 2;
  @media (width <= 768px) {
    display: none;
  }
}
