.Places {
  position: absolute;
  width: 480px;
  top: 50px;
  left: 0;
}

.placeCard {
  background: #fff;
  background-size: 140px auto;
  background-position: left center;
  background-repeat: no-repeat;
  width: 420px;
  padding: 10px 15px;
  border-radius: 10px;
}

.name {
}
.description {
}
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 100%;
  min-height: 125px;
  object-fit: cover;
  overflow: hidden;
  &:hover {
    transform: scale(1.2);
  }
}
