.reviewCard {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userInfo {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.userName {
  font-weight: bold;
}

.reviewText {
  margin-bottom: 12px;
  margin-left: 4px;
}

.rating {
  font-style: italic;
  color: #666;
  margin-bottom: 8px;
}

.deleteButton {
  align-self: flex-end;
  width: fit-content;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
  background-color: #303030;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &::before {
    content: url('../../../assets/delete-icon.svg');
    height: 18px;
    margin-right: 2px;
  }

  &:hover {
    background-color: #0b0b0b;
  }
}

.userRate {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px 4px;
  background-color: #fff1ed;
  border-radius: 4px;
  width: fit-content;
}

.userRateNumber {
  font-size: 18px;
  margin-left: 1px;
}
