nav {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fafafa;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 20;
  padding: 0 40px;
}

nav a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  padding: 2px;
  display: inline-block;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.2s ease-in-out;
}

nav a.active {
  font-weight: 400;
  color: #ff4b34;
  border-color: #ff4b34;
}

nav .logo {
  cursor: pointer;
}

li {
  list-style: none;
}
.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navMenu {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 5;
}
.bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #111111;
}
.navItem {
  color: #111111;
  font-weight: 200;
  padding: 0 10px;

  &:hover,
  &:active {
    a {
      border-bottom-color: #ff4b34;
    }
  }
}

@media (max-width: 900px) {
  nav {
    padding: 0 20px;
  }
  .bar {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(11.5px);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-11.5px);
  }
  .menuOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
  }

  .navMenu {
    position: fixed;
    right: -100%;
    top: 60px;
    padding-bottom: 20px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background: #ffffff;
    transition: 0.3s;
    z-index: 4;
  }
  .navItem {
    color: #1e1e1e;
    padding: 28px 0;
    &:hover,
    &:active {
      transform: scale(0.97);
      color: #919191;
    }
  }

  .navMenu.active {
    right: 0;
  }
}
