.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;

  animation: appearTransition 0.4s forwards;
}

.close {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 5px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &:focus {
    outline: none;
  }
  &:hover,
  &:active {
    &::before,
    &::after {
      background-color: #000;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #797979;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@keyframes appearTransition {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
