.Loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачное черное */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.wawes {
  padding: 0;
  list-style: none;
  width: 100%;
  margin-left: -10px;
  text-align: center;
  animation: wave 2.5s infinite linear;
  animation-fill-mode: forwards;
  .wave {
    display: inline-block;
    background: #eac9b0;
    margin-right: 1px;
    height: 26px;
    width: 6px;
    border-radius: 0 100%;
    transform: rotate(12deg);
  }
}

@keyframes wave {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-15px);
  }
}
