.SearchPlaces {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto 0 20px;
  @media (width <= 959px) {
    display: none;
  }
}

.searchInput {
  border: none;
  outline: none;
  font-size: 18px;
  color: #555;
  padding: 3px;
  width: 0px;
  background: none;
  z-index: 3;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer;
  &.active {
    width: 250px;
    z-index: 1;
    cursor: text;
  }
}

.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex: 1 0 auto;
  width: 34px;
  height: 34px;
  background-color: #f6f6f6;
  padding: 8px;
  border: 0px solid #767676;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 0.5px 1.5px;
  opacity: 1;
  transition: 0.4s;
  &.activeInput {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
