@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  outline: 0 none;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  background-color: #fff;
  font-size: 16px;
  color: #303030;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: 42px;
  @media (max-width: 479px) {
    font-size: 30px;
  }
}
h2 {
  font-size: 26px;
  @media (max-width: 479px) {
    font-size: 24px;
  }
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}

.mapboxgl-popup-content {
  padding: 0 !important;
  background: transparent !important;
  width: fit-content;
  max-width: 100%;
}

.page-wrapper {
  padding: 60px 0 0;
  min-height: calc(100dvh - 90px);
}

.container {
  padding: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  width: 100%;
}

.mapboxgl-map {
  font-family: 'Roboto Slab', serif;
}
