@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
  outline: 0 none;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  background-color: #f4f4f4;
  font-size: 16px;
  color: #303030;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 42px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 16px;
}

.mapboxgl-popup-content {
  padding: 0;
  background: transparent;
  @media (width <= 575px) {
    max-width: 100%;
  }
}

.mapboxgl-popup-tip {
  @media (width <= 460px) {
    display: none;
  }
}

.page-wrapper {
  padding: 60px 0 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  width: 100%;
}
