.Logo {
  display: flex;
  flex-wrap: nowrap;
  .logoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1;
    align-items: flex-start;
    flex-shrink: 0;
    .primaryText {
      font-size: 18px;
      color: #ff4b34;
      font-weight: 600;
      sup {
        font-size: 10px;
        font-weight: 200;
      }
    }
    .secondaryText {
      font-size: 10px;
      font-weight: 100;
      font-style: italic;
      color: #8c4c17;
      align-self: center;
    }
  }
}
