.Logo {
  display: flex;
  align-items: center;
  .logoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2px;
    .primaryText {
      font-size: 18px;
      color: #ff4b34;
      font-weight: 300;
    }
    .secondaryText {
      font-size: 12px;
      font-weight: 100;
      color: #8c4c17;
      align-self: center;
    }
  }
}
