.formGroup {
  position: relative;
  padding: 15px 0 10px;
  margin: 10px auto;
  width: 100%;
}

.formField {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000;
  outline: 0;
  font-size: 18px;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  color: #000;
  &::placeholder {
    color: transparent;
  }
  &:required,
  &:invalid {
    box-shadow: none;
  }

  &:placeholder-shown {
    ~ .formLabel {
      font-size: 20px;
      font-weight: 100;
      cursor: text;
      top: 20px;
    }
  }
  &:not(:placeholder-shown) {
    ~ .formLabel {
      font-weight: 700;
      color: #aaaaaa;
    }
  }
  &:focus {
    padding-bottom: 6px;
    border-width: 2px;
    ~ .formLabel {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 14px;
      color: #a6a6a6;
      font-weight: 700;
    }
  }
}

.formLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 14px;
  color: #000;
}

.error {
  border-color: #fd5353;
}
.errorContainer {
}

.hiddenGroup {
  height: 0;
  padding: 0;
  margin: 0;
}
